<%- layout("./layouts/boilerplate") %>

<div class="row">
    <h1 class="text-center">Edit Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds" method="post" novalidate class="validated-form">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input class="form-control" type="text" id="title" name="campground[title]" value="<%=campground.title%>" required>
                <div class="valid-feedback">
                    looks good
                </div>
            </div>

            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input class="form-control" type="text" id="location" name="campground[location]" value="<%=campground.location%>" required>
                <div class="valid-feedback">
                    looks good
                </div>
            </div>

            <div class="form-file">
                <input type="file" class="form-file-input" id="image" name="image" multiple>
                <label class="form-file-label" for="image">
                    <span class="form-file-text">Choose images...</span>
                    <span class="form-file-button">Browse</span>
                </label>
            </div>

            <div class="mb-3">
                <label for="price" class="form-label">Campground Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0" aria-describedby="basic-addon1" value="<%=campground.price%>" required>
                    <div class="valid-feedback">
                        looks good
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <input class="form-control" type="text" id="description" name="campground[description]" value="<%=campground.description%>" required>
                <div class="valid-feedback">
                    looks good
                </div>
            </div>
            <div class="mb-3">
                <% campground.images.forEach(function(img,i) { %>
                    <img src="<%= img.url%>" class="img-thumbnail" alt="">
                    <div class="form-check-inline">
                        <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%= img.filename%>">
                    </div>
                <%})%>
            </div>

            <div class="mb-3">
                <button class="btn btn-info">Update Campground</button>
            </div>
        </form>
        <a href="/campgrounds">All Campgrounds</a>
    </div>
 </div>