<% layout("./layouts/boilerplate")%>
<link rel="stylesheet" href="/stylesheets/starts.css">

<div class="row">
    <div class="col-6 ">
        <div id="campgroundCatousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <% campground.images.forEach((img,i) => { %>
                    <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
                        <img src="<%= img.url%>" class="d-block w-100" alt="">
                    </div>
                <%})%>
            </div>
            <% if(campground.images.length>1 ){ %>
                <a class="carousel-control-prev" href="#campgroundCatousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#campgroundCatousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
            <%}%>
            
          </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><%= campground.title%></h5>
                <p class="card-text"><%= campground.description %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><%= campground.location %></li>
                <li class="list-group-item">Submitted By <%= campground.author.username %></li>
                <li class="list-group-item"><%= campground.price %></li>
            </ul>
            <% if(currentUser && campground.author.equals(currentUser._id)){ %>
                <div class="card-body">
                    <a href="/campgrounds/<%= campground._id %>/edit" class="card-link btn btn-warning btn-sm">Edit</a>
                    <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="post">
                        <button class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </div>
            <%}%>
            

            <div class="card-footer text-muted">
                2 days ago
                <a href="/campgrounds" class="btn btn-primary btn-sm">All Campgrounds</a>
            </div>
        </div>
        
    </div>


    <div class="col-6">
        <% if(currentUser) { %>        
        <h2>Leave a Review</h2>

        <form action="/campgrounds/<%=campground._id%>/reviews" method="post" class="mb-3 validated-form" novalidate>
            <!-- <div class="mb-3">
                <label class="form-label" for="rating">Rating</label>
                <input class="form-range" type="range" min="1" max="5" name="review[rating]">
            </div> -->
            <fieldset class="starability-basic">
                <legend>First rating:</legend>
                <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
                <input type="radio" id="first-rate1" name="rating" value="1" />
                <label for="first-rate1" title="Terrible">1 star</label>
                <input type="radio" id="first-rate2" name="rating" value="2" />
                <label for="first-rate2" title="Not good">2 stars</label>
                <input type="radio" id="first-rate3" name="rating" value="3" />
                <label for="first-rate3" title="Average">3 stars</label>
                <input type="radio" id="first-rate4" name="rating" value="4" />
                <label for="first-rate4" title="Very good">4 stars</label>
                <input type="radio" id="first-rate5" name="rating" value="5" />
                <label for="first-rate5" title="Amazing">5 stars</label>
              </fieldset>



            <div class="mb-3">
                <label class="form-label" for="body">Review</label>
                <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <button class="btn btn-success">Submit</button>
        </form>
    <% } %>
        
            <% for(let review of campground.reviews){%>
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Rating: <%=review.author.username%></h5>
                        <h3>Rated element name</h3>
                        <p class="starability-result" data-rating="<%=review.rating%>">
                            Rated: <%=review.rating%> stars
                         </p>
                        <p class="card-text">Review: <%=review.body%></p>
                        <form action="/campgrounds/<%=campground._id%>/reviews/<%=review._id%>?_method=DELETE" method="post">
                            <button class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </div>
                </div>
            <%}%>
    </div>

    
</div>

